@{
    ViewData["Title"] = "Excluir Produto";
}

<div class="text-center">
    <h4>Deseja apagar o produto {Farinha de mandioca} ?</h4>
</div>

<a class="btn btn-primary btn-block" role="button" asp-controller="Produto" asp-action="Index">Cancelar exclusão</a>
<a class="btn btn-danger btn-block" role="button" asp-controller="Produto" asp-action="ApagarConfirmacao">Confirmar exclusão</a>