@{
    ViewData["Title"] = "Listagem de Produtos";
}

<h3>Produtos</h3>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Cód.</th>
            <th scope="col">Nome do Produto</th>
            <th scope="col">Preço de venda</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Farinha de Trigo</td>
            <td>5,25</td>
            <td>Ativo</td>
        </tr>
    </tbody>
</table>