<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>+Saúde na Tela</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .scrollable-cards {
            max-height: 400px; /* altura máxima dos cards */
            overflow-y: auto; /* permite rolagem vertical */
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">+Saúde na Tela</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/novo_item">Adicionar novo Embedding</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <h4>Faça a sua pergunta</h4>
        <form action="/" method="post">
            <div class="form-group">
                <label for="consulta">Digite sua dúvida:</label>
                <input type="text" class="form-control" id="consulta" name="consulta" required>
            </div>
            <button type="submit" class="btn btn-success">Consultar</button>
        </form><br/>
        
        <h4>Resposta:</h4>
        <div class="scrollable-cards">
            {% for consulta, resposta in historico %}
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Pergunta: {{ consulta }}</h5>
                    <p class="card-text">{{ resposta }}</p>
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- Botão para limpar o histórico -->
        <form action="/limpar_historico" method="post" style="margin-top: 20px;">
            <button type="submit" class="btn btn-danger">Limpar Histórico</button>
        </form>
    </div>
</body>
</html>
